body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}

header {
  position: static;
}

header a {
  color: rgb(183, 230, 235);
}

header nav a:hover {
  background-color: rgb(183, 230, 235);
  color: rgb(59, 59, 59);
}

#page-logo a {
  font-family: "Jua", sans-serif;
  color: rgb(183, 230, 235);
}

main ul {
  width: 1200px;
  margin: 0 auto;
  /* Grid형태로 CSS스타일링 */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

li:nth-of-type(6) {
  grid-column: 1 / span 2;
}

li:nth-of-type(9) {
  grid-column: 1 / span 2;
}

li:nth-of-type(10) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  color: rgb(22, 211, 228);
  text-decoration: none;
  padding: 5px;
}

.actions a:hover {
  background-color: rgb(235, 253, 255);
  border-radius: 5px;
}
