body {
  font-family: "Jua", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-logo a {
  padding: 10px;
  font-family: "Jua", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#page-logo a:hover,
#page-logo a:active {
  color: red;
  cursor: crosshair;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 60px;
}

header ul {
  display: flex;
  justify-content: flex-end;
}

header li {
  text-align: center;
  padding: 10px;
  width: 100px;
  margin-left: 20px;
}

header li:hover,
header li:active {
  border-radius: 5px;
  background-color: rgb(247, 239, 87);
}
