body {
  font-family: "Jua", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#page-logo a {
  padding: 10px;
  font-family: "Jua", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#page-logo a:hover,
#page-logo a:active {
  color: red;
  cursor: crosshair;
}

header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: rgb(255, 251, 0);
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

header a:hover,
header a:active {
  border-radius: 5px;
  color: rgb(77, 77, 77);
  background-color: rgb(247, 239, 87);
}
