html {
  margin: 50px;
}

div {
  background-color: #c7c7c7;
  padding: 20px;
  text-align: center;
}

p {
  color: black;
  padding: 50px;
  margin: 0;
}

#container {
  background-color: #521751;
  position: relative;
}

#container {
  background-color: #521751;
}

#container p {
  color: white;
}

#one {
  background-color: #943092;
}

#two {
  box-sizing: border-box;

  background-color: #c95bc7;
  position: fixed;

  top: 0px;
  left: 0;

  width: 100%;
}

#three {
  background-color: #dd61db;
}
